.mazeBoard{
  position: relative;
  height: 220px;
  .board-list{
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    position: absolute;
  }
  .wall{
    background: #666;
  }
  .road{
    background: red;
  }
  .now{
    width: 6px;
    height: 6px;
    background: #333;
    border-radius: 50%;
    display: block;
    position: absolute;
  }
}
.change-btn{
  cursor: pointer;
}
.success{
  position: absolute;
  top: 100px;
  left: 50px;
  width: 100px;
  height: 30px;
  line-height: 30px;
  background: red;
  text-align: center;
  color: #fff;
  display: none;
}
.success-show{
  display: block;
}